body {
nav{
  list-style-type: none;
background-color: salmon;
 position: fixed;
  top: 0; 
  left: 0;
width: 100%

}
li{
  display: inline; 
  padding: 13px;
  float: center;  
}
li:hover{
  background-color: purple;
}
body
{background-color: #ade8f4 ;}
h2{ 
  text-align: center
 
}
a{
  text-decoration: none;
  color:gold;
}
h2 {color: salmon }
h2 {font-family: 'Roboto Flex', sans-serif}
img { width: 300px 
border: solid black 3px;
}
}
